.highElf {
    background-image: url(./img/highElfZone.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 1rem 1rem 0 1rem;
}
.human {
    background-image: url(./img/humanZone.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 1rem 1rem 0 1rem;
}
.dwarf {
    background-image: url(./img/dwarfZone.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 1rem 1rem 0 1rem;
}
.gnome {
    background-image: url(./img/gnomeZone.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 1rem 1rem 0 1rem;
}
.darkElf {
    background-image: url(./img/darkElfZone.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 1rem 1rem 0 1rem;
}
.orc {
    background-image: url(./img/orcZone.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 1rem 1rem 0 1rem;
}
.troll {
    background-image: url(./img/trollZone.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 1rem 1rem 0 1rem;
}
.minotaur {
    background-image: url(./img/minotaurZone.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 1rem 1rem 0 1rem;
}

.rightSide {
    width: 25rem;
}

.characterDeck {
    margin-top: .25rem;
    margin-bottom: .25rem;
    min-height: 46rem;
}

.characterList {
    width: 25rem;
    min-height: 56.5rem;
    max-height: 56.5rem;
    background-color: rgba(0, 0, 0, .5);
    border: 3px solid rgba(80, 80, 80, .9);
    border-radius: 10px;
    box-shadow: 
        0 0 0 2px rgb(0, 0, 0),
        0 0 0 2px rgb(0, 0, 0) inset;
}

.leftSide {
    width: 100vw;
    height: 57.9rem;
    /* border: solid black 3px; */
}

.leftTop {
    /* border: solid black 3px; */
    max-height: 47rem;
    min-height: 47rem;
    margin-left: 10.5rem;
}

.crusader {
    width: 45rem;
}

.pirate {
    width: 38rem;
}

.sorcerer {
    padding-left: 7rem;
    width: 35rem;
}

.gladiator {
    width: 34rem;
}

.ranger {
    width: 45rem;
}

.necromancer {
    width: 33rem;
}

.cleric {
    width: 45rem;
}

.witchDoctor {
    width: 35rem;
}

.leftBottom {
    /* border: solid black 3px; */
    height: 9.6rem;
}

.leftBottomLeft{
    margin: .5rem .5rem .5rem .5rem;
    padding: 5.5rem 0 0 0;
    width: 10rem;
    /* border: solid black 3px; */
}

.optionBtn{
    margin: .5rem;
}

.leftBottomRight{
    padding: 4rem 0 0 0;
    margin-left: auto;
    margin-right: auto;
}

.btnBackground {
    background-color: #790603;
    border: 5px solid rgba(80, 80, 80, .9);
    border-radius: 10px;
    box-shadow: 
        0 0 0 2px rgb(0, 0, 0),
        0 0 0 2px rgb(0, 0, 0) inset;
    /* margin-top: 1rem; */
}

.editBtnBackground{
    background-color: #790603;
    border: 5px solid rgba(80, 80, 80, .9);
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
    margin-top: 1rem;
}

.playButton {
    height: 5rem;
    width: 20rem;
    border: 3px solid rgba(0, 0, 0, .3);
    background-color: #790603;
    color: gold;
    font-family: 'Metamorphous', cursive;
    text-shadow: 2px 2px #000;
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
}

.playButton:hover {
    background-color: rgba(255, 215, 0, .2);
    color: white;
}

.logoutBtn {
    border: 3px solid rgba(80, 80, 80, .9);
    background-color: #790603;
    color: gold;
    font-family: 'Metamorphous', cursive;
    text-shadow: 2px 2px #000;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, .3);
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
}

.logoutBtn:hover {
    background-color: rgba(255, 215, 0, .2);
    color: white;
}

.buttonBox {
    width: 24.5rem;
    padding: 0 2rem 0 2rem;
}