.dashboard {
    width: 100%;
    height: 100vh;
    background-color: darkcyan;
    padding: 1rem 1rem 0 1rem;
}

.rightSide {
    width: 25rem;
}

.characterDeck {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.characterList {
    width: 18rem;
    min-height: 56rem;
    max-height: 56rem;
    background-color: rgba(0, 0, 0, .4);
    border: 3px solid rgba(80, 80, 80, .9);
    border-radius: 10px;
}

.leftSide {
    width: 100vw;
    height: 57.9rem;
    /* border: solid black 3px; */
}

.leftTop {
    /* border: solid black 3px; */
    height: 48.3rem;
}

.leftBottom {
    /* border: solid black 3px; */
    height: 9.6rem;
}

.leftBottomLeft{
    margin: .5rem .5rem .5rem .5rem;
    padding: 2.6rem 0 2.6rem 0;
    width: 10rem;
}

.optionBtn{
    margin: .5rem;
}

.leftBottomRight{
    margin: auto;
}

.playButton {
    height: 5rem;
    width: 20rem;
    border: 3px solid rgba(80, 80, 80, .9);
    background-color: #790603;
    color: gold;
    font-family: 'Metamorphous', cursive;
    text-shadow: 2px 2px #000;
}

.logoutBtn {
    border: 3px solid rgba(80, 80, 80, .9);
    background-color: #790603;
    color: gold;
    font-family: 'Metamorphous', cursive;
    text-shadow: 2px 2px #000;
}