.characterCard {
    margin: 1rem 1rem 1rem 1rem;
}

.cardLeft {
    width: 70%;
}

.cardRight { 
    width: 30%;
}

.deleteBtn {
    background-image: url(./img/redTrashCan.png);
    background-position: center;
    background-size: cover;
    text-align: center;

}